include ../head.pug
<!DOCTYPE html>
html(lang="en")
head 
  title Event List | Apex Solutions Group
body
    header
      div.container
        h1 Apex Solutions Group
        nav
          ul 
            li 
              a(href="") Home
            li 
              a(href="") About Us 
            li 
              a(href="") Services 
            li 
              a(href="") Contact 
            li 
              a.active(href="http://localhost:3000") Events
            li 
              a(href="http://localhost:3000/add") Add Events
    section.events
      div.container
        h1 List of <span class="h1-span">Events</span>  
        p In this page you can view the list of events in the Apex Solutions Group <br> <span class="admin">This page is only available for administrators.</span>
        a.add-btn(href='/add', role='button') Add      
        table
          thead
            tr
              th(scope="col") ID
              th(scope="col") Event Name
              th(scope="col") Event DateTime
              th(scope="col") Place
              th(scope="col") Contact Phone
              th(scope="col") Actions
          tbody
      footer 
        h3 Apex Solutions Group
        p This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service

script.
  document.addEventListener('DOMContentLoaded', function() {
    axios.get('/api/event').then(function(response) {
      const events = response.data;
      const tableBody = document.querySelector('table tbody');
      events.forEach(t => {
        const row = document.createElement('tr');
        const event = t.event
        row.innerHTML = `
          <td>${t.id}</td>
          <td>${event.eventName}</td>
          <td>${event.eventDateTime}</td>
          <td>${event.place}</td>
          <td>${event.contactPhone}</td>
          <td>
            <button class="btn btn-primary btn-sm" data-id="${t.id}" onclick="window.location.href='/update/${t.id}'">Update</button>
            <button class="btn btn-danger btn-sm" data-id="${t.id}">Delete</button>
          </td>
        `;
        tableBody.appendChild(row);
      });
    })
    .catch(function(error) {
      console.log(error);
    });

    // Use event delegation for delete buttons
    document.addEventListener('click', function(event) {
      if (event.target && event.target.classList.contains('btn-danger')) {
        const eventId = event.target.getAttribute('data-id');
        axios.delete(`/api/event/${eventId}`).then(function(response) {
          alert('Deleted successfully', response);
          location.href = '/'
        })
        .catch(function(error) {
          alert('Error deleting event: ' + error);
        });
      }
    });
    
  });
